.currency-converter {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  border: 5px solid #e70a0a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.2);
  background-color: #f8f8f8;
  color: rgb(19, 2, 2); 
 justify-content: center;
 height: 10;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.currency-converter h1 {
  font-size: 24px;
  text-align: center;
  font-style: oblique;
}

.currency-converter label {
  display: block;
  margin-bottom: 10px;
 
}

.currency-converter input[type="number"],
.currency-converter input[type="text"],
.currency-converter select {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #da0808;
  border-radius: 5px;
  margin-bottom: 20px;
}

.currency-converter button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2dc420;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.currency-converter button:hover {
  background-color: #0056b3;
}

.currency-converter p {
  color: rgb(41, 12, 12); 
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

body {
  background-color:  black;
}